@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>ViewBag.Message</h3>-->

<p>
    This is a web application written by Timothy Hitchcock to enhance his knowledge of
    ASP.NET with Identity and Entity Frameworks and to demonstrate that knowledge to
    potential employers.  Since this is a demo program, it is not designed to make money as such.<br />
</p>
<p>
    Anyone can create a user account on this program and write a restaurant review of a
    restaurant that is already on this web site or request that an additional
    restaurant be added.<br />
</p>
<p>
    Additions of restaurants must be approved by this web sites administrator so that
    the same restuarant is not inadvertantly added multiple times under different
    variations of its name.<br />
</p>
<p>
    Reviews must also be approved by the administrator who will remove any
    profanity, etc., that is included.<br />
</p>
<p>
    Administrators of this web site can add questions to be asked of reviewers and approve
    additions of restuarants and approve/edit reviews.<br />
</p>
<p>With or without creating a user account, anyone can read reviews.</p>
