@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<!--<h3>ViewBag.Message</h3>-->

<address>
    2001 S Cotner Blvd<br />
    Lincoln, NE 68506-1242<br />
    <abbr title="Phone">P:</abbr>
    402.486.0117
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:timh412@inebraska.com">timh412@inebraska.com</a><br />
</address>